@page
@model CleanLand.Pages.Expiring.LeaseAgreementsModel
@{
    ViewData["Title"] = "Договори оренди, що закінчуються";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
    <tr>
        <th>Номер договору</th>
        <th>Дата початку</th>
        <th>Термін (роки)</th>
        <th>Дата закінчення</th>
        <th>Залишилось днів</th>
        <th>Пов'язані ставки</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ExpiringAgreements)
    {
        <tr>
            <td>@item.Number</td>
            <td>@item.Date.ToShortDateString()</td>
            <td>@item.TermInYears</td>
            <td>@item.ExpirationDate.ToShortDateString()</td>
            <td>@item.DaysRemaining</td>
            <td>
                @foreach (var pond in item.Ponds)
                {
                    <span>@pond.Name, id: @pond.Id</span><br>
                }
            </td>
        </tr>
    }
    </tbody>
</table>
